@font-face {
    font-family: Dancing;
    src: url(../fonts/DancingScript-Regular.ttf);
}

:root {
    --main-color: rgb(0, 104, 35);
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
}

#container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(235, 235, 235);
    overflow: auto;
}

#sidebar {
    background-image: url(../images/thom-milkovic-JlychiktSB8-unsplash.jpg);
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: max(350px, 30vw);
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: flex-end;
}

#logo-container {
    position: fixed;
    width: max(350px, 30vw);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--main-color);
    font-family: 'Dancing', sans-serif;
    font-size: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
    top: calc(10rem + 5vh);
}

#logo-container img {
    display: flex;
}

#sidebar-footer {
    font-size: 0.9rem;
    color: white;
    text-align: center;
    padding-bottom: 1rem;
}

#sidebar-footer a {
    color: var(--main-color);
}

.header-text {
    max-width: 60ch;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 3vh;
}

.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 80ch;
    justify-content: space-between;
    margin-bottom: 2vh;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.form-row {
    display: flex;
    width: 35ch;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-right: 3vh;
}

.form-wrapper input {
    height: 2rem;
    border: 0.1rem solid #E5E7EB;
}

.form-wrapper input:focus {
    outline: 0.13rem solid var(--main-color);
    box-shadow: 0.4rem 0.4rem 6px #d8dadd;
}

.form-wrapper label {
    padding-bottom: 0.2rem;
}

.form-header {
    font-size: 1.4rem;
    font-weight: bold;
}

.header-text,
.sign-up-form,
.button-area {
    padding-left: 3vw;
}

.sign-up-form {
    background-color: white;
    box-shadow: 0.4rem 0.4rem 6px #d8dadd;
}

#createAccBtn {
    padding: 0.9rem 3rem;
    border-radius: 8px;
    color: var(--main-color);
    border: 0.2rem solid var(--main-color);
    font-weight: bold;
    margin-top: 3vh;
    cursor: pointer;
}

#createAccBtn:hover {
    color: white;
    background-color: var(--main-color);
    font-weight: bold;
}