@font-face {
    font-family: Dancing;
    src: url(../fonts/DancingScript-Regular.ttf);
}

:root {
    --main-color: rgb(0, 104, 35);
    --red: rgb(209, 0, 0);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(235, 235, 235);
    width: 70vw;
    overflow: auto;
    position: relative;
}

.header {
    display: flex;
    background-image: url(../images/thom-milkovic-JlychiktSB8-unsplash.jpg);
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30vw;
    flex-direction: column;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--main-color);
    font-family: 'Dancing', sans-serif;
    font-size: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: calc(10rem + 5vh);
    gap: 1rem;
}

.header-logo img {
    display: flex;
}

.header-footer {
    font-size: 0.9rem;
    color: white;
    text-align: center;
    margin-bottom: 2vh;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

.main-text {
    max-width: 60ch;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 3vh;
}

.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 80ch;
    justify-content: space-between;
    margin-bottom: 2vh;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
}

.form-row {
    display: flex;
    width: 35ch;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-right: 3vh;
}

form input {
    height: 2rem;
    border: 0.1rem solid #E5E7EB;
}

form input:focus {
    outline: 0.13rem solid var(--main-color);
    box-shadow: 0.4rem 0.4rem 6px #d8dadd;
}

.form-wrapper input:focus:invalid {
    outline: 0.1rem solid var(--red);
}

.form-wrapper label {
    padding-bottom: 0.2rem;
}

.form-header {
    font-size: 1.4rem;
    font-weight: bold;
}

.error {
    outline: 0.1rem solid var(--red);
}

.form-row.pass::after {
    content: "*Passwords do not match";
    margin-top: 0.1rem;
    text-transform: none;
    font-weight: normal;
    color: var(--red);
}

.main-text,
.sign-up-form,
.button-area {
    padding-left: 3vw;
}

.sign-up-form {
    background-color: white;
    box-shadow: 0.4rem 0.4rem 6px #d8dadd;
}

#createAccBtn {
    padding: 0.9rem 3rem;
    border-radius: 8px;
    color: var(--main-color);
    border: 0.2rem solid var(--main-color);
    font-weight: bold;
    margin-top: 3vh;
    cursor: pointer;
}

#createAccBtn:hover {
    color: white;
    background-color: var(--main-color);
    font-weight: bold;
}

.container-footer {
    position: sticky;
    text-align: center;
    top: 100vh;
    padding: 0.5rem;
}

.container-footer > p {
    margin: 0;
}